* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

}

main {

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
    padding: 10px 0;    
    align-items: center;
    flex-wrap: wrap;
<<<<<<< HEAD
    height: 64px;
=======
/*     background-color: red; */
}

nav .logo-text {
    display: flex;
    width: 400px;
    align-items: center;
}

nav .logo-text h1 {
    text-transform: uppercase;
    color: rgb(60, 60, 60);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;

}

nav .logo-text h1 span {
    color: rgb(122, 119, 119);
    font-weight: 100;

}

nav .logo-text img {
    height: 5em;
>>>>>>> 80afffa812ad5e13cb801e739a887c9cb6bd21fc
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: rgb(59, 58, 58);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500
}

nav img {
    height: 100%;
    width: auto;
}

header {
    background-color: rgb(213, 209, 204);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    width: 100%;

}

.banner-description {
    color: rgb(60, 60, 60);
    margin: 30px 16px;
}

.banner-description h1 {
    font-size: 40px;
    font-weight: 800;
    padding: 25px 0;
}

.banner-description h2 {
    font-size: 20px;
    font-weight: 200;
    padding: 25px 0;
    letter-spacing: 3px;
}

.banner-description button {
    width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(60, 60, 60) 1px;
    transition: all 0.2s linear;
}

.banner-description button:hover {
    background-color: rgb(60, 60, 60);
    color: white;
}

section {
    /* display: flex; */
    margin: 20px 0;
}

/* .first-part-black-guy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: 0 24px;
}

.first-part-black-guy h1 {
    font-size: 60px;
    color: rgb(60, 60, 60);

}

.first-part-black-guy p {
    font-weight: 100;
    font-size: 27px;
    letter-spacing: 1px;
    opacity: 0.7;
} */

.second-part-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px;
}

.sidebox:nth-of-type(3) {
    background-color: rgb(213, 209, 204);
}

.sidebox {
    display: flex;
    flex-flow: column wrap;

}

.sidebox img {
    width: auto;
    height: 170px;
}

.sidebox div {
    line-height: 40px;
}

.sidebox div h1 {
    font-size: 30px;
}

.sidebox p {
    font-size: 15px;
    opacity: 0.7;
}

.sidebox a {
    color:rgb(43, 159, 214);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}

.sidebox a:hover {
    text-decoration: underline;

}

@media screen and (max-width: 1288px) {

    header img {
        height: auto;
        /* object-fit: cover; */
    }

    section {
        flex-wrap: wrap;

    }
    
    .second-part-right-side {
        margin-top: 40px;
    }
}
